.loginpagebasecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: linear-gradient(to right, var(--baseColor), var(--baseColorDark));
    font-family: Arial, sans-serif;
  }

.loginpageContentContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--whiteColor);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
.loginpageContentTitleContainer h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: smaller;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .loginpageContentInputContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

/* .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
.input:focus {
    border-color: #007bff;
    outline: none;
    transition: border-color 0.2s;
  } */
  