:root{
  --baseColor: #062b98;
  --baseColorDark: #05ae19;
  --secondaryColor: #F0F7F4;
  --whiteColorDim: #ffffff18;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --blackColorDim: #12101099;
  --borderColor: #dadada;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
